html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #FFE5DB;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.brand{
    height: 30px;
    margin-left: 10px;
    position: fixed;
}

.header-bar{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    z-index: 1;
}

.nav-item{
    width: 100px;
    text-align: center;
    font-weight: 700;
    color: #3c2c9c;
}

.banner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner>h1{
    font-size: 12vw;
    color: #3c2c9c;
    font-weight: 700;
    text-align: center;
}

#deals{
    padding-top: 50px;
}


.deals-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #3c2c9c;
    margin-bottom: 0px;
}

.deals-sub{
    text-align: center;
    padding: 30px 0px;
    font-size: 20px;

}

.price-wrapper{
    display: flex;
    justify-content: center;

}

.price-card{
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 12px 0px #dfa58e;
    padding:0px 20px;
}

.price-card:hover{
    background-color: #3c2c9c;
    color: white;
}



.pack-name{
    font-weight: 700;
}

.pack-price{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    align-items: baseline;
}

.pack-price>h1,h2{
    margin: 0px;
}

.pack-details{
    padding: 20px;
    list-style: kannada;
}

.pack-details-individual{
    margin: 10px 0px;
    font-weight: 700;
}

.me-image{
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
    display: block;
}

#about{
    max-height: 100vh;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFE5DB;
    color: #3c2c9c;
}

#about>h1{

    text-align: center;
    font-size: 50px;
}

.about-me{
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
    max-width: 980px;
    margin: 0px auto;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100px;
    padding-bottom: 100px;
}

.contact li{
    width: 60px;
    font-size: 20px;
    color: #3c2c9c;
}

.work{
    display: flex;
    align-items: center;
    justify-content: center;
}

#work>h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #3c2c9c;
    margin-bottom: 50px;
    padding-top: 50px;
}

.work-card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 10px 10px;
}

.work-card>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;

}


@media only screen and (max-width: 600px){
    .brand{
        margin: 0px;
        position: relative;
    }
    
    .header-bar{
        padding-top: 20px;
        flex-direction: column;
    }

    .price-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner>h1{
        font-size: 26vw;
    }

    #work{
        flex-direction: column;
    }
}